/*清除样式*/
*{
    margin:0;
    padding: 0;
}
a{
	text-decoration: none;
}
li{
  list-style-type: none;
}
/*清除浮动*/
.clearfix:after{content: "";display: block;clear: both;}
.clearfix{zoom:1;}
/*清除浮动*/
.comWidth{margin-left:auto; margin-right:auto;}
/*IE盒子*/
*{
    box-sizing:border-box;
-moz-box-sizing:border-box;  /*Firefox */
-webkit-box-sizing:border-box; /* Safari */
}
.main-left{
	float: left;
	width: 665px;
	height: 375px;
	border: 2px solid red;
}
.main-right{
    float: left;
    width: 360px;
    height: 305px;
    border: 2px solid blue;
}