.down-wrap{
	margin-top: 91px;
    margin-left: auto;
    margin-right: auto;
    width: 817px;
    /*height: 552px;*/
    border: 1px solid #c1c1c1;
    border-radius: 6px;
    background: white;
    padding-top: 20px;
}
.xinxi02-xianshi{
	margin-left: 182px;
	margin-top: 43px;
	height: 550px;
    font-size: 21px;
}
.xinxi02-h{
    height: 52px;  
}
.xinxi02-media{
    margin-left: 106px;
    margin-top: -24px;
    width: 354px;
    height: 242px;
    border: 1px solid black;
}
.wzx-bt{
     margin:50px 182px;
     width: 90px;
     height:  40px;
     color: white;
     text-align: center;
     line-height: 40px;
     background:   #356adb;
     border-radius: 6px;
}