@charset "utf-8";
body {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 微软雅黑;
    font-size: 16px;
    background-color: #f5f5f5;
}
.top{
    position: relative;
	margin-top: 23px;
	color: #0074cc;
	/*font-weight: 700;*/
}
.mid{
	margin-top: 40px;
	/*position: relative;*/ /*给点击撤销显示内容的div坐定位*/
}
.mid a{
	color: #1a95f3;
}
.mid-left{
	display: inline-block;
	width: 80px;
	text-align: center;
	color: #1a95f3;
	border-bottom: 2px solid #d9d9d9;
}
.mid-right{
	display: inline-block;

	width: 80px;
	color: #1a95f3;
	margin-left: -5px;
	border-bottom: 2px solid #1a95f3;
}
.mind-right2{
	margin-top: -2px;
	margin-left: 160px;
    width: 900px;
    border-bottom: 2px solid #d9d9d9;
}
.mid2{
	position: relative;	
	margin-top: 30px;
	width: 100%;
	height: 55px;
	background-color: white;
	border:1px solid #d9d9d9;
}
.icon-rili {
    position: absolute;
    z-index: 5;
    left: 172px;
    top: 20px;
    width: 16px;
    height: 16px;
    background: url(../img/paiBanImg/chaxun-rili.png) no-repeat;
    
}
.rili{
   margin-top: 14px;
   margin-left: 7px;
   padding-left: 8px;
   width: 125px;
}
.datetimepicker{  /*修正日历的位置*/
	    margin-top: 24px;
	    margin-left: 12px;
}
.queren{
	display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    width: 50px;
    height: 23px;
    text-align: center;
    left: 23px;
    color: white;
    background-color: #1a95f3;
    border-radius: 3px;
    cursor: pointer;
}
.table-xiaojia{
	/*margin-top: 20px;*/
	border: 1px solid #d9d9d9;
}
.table-xiaojia th{
	width: 1060px;
	height: 50px;
	background-color: #e3e3e3;
	text-align: center;
    line-height: 50px;
   /* font-weight: 600;*/
}
.th1{
	width: 400px;  
}
.th2{
	width: 296px;
}
.th3{
	width: 265px;
}
.th4{
	width: 95px;
}
.table-xiaojia td{
	height: 60px;	
	text-align: center;
    line-height: 50px;

}
.tr-white{
	background-color: white;
}
.tr-blue{
	background-color: #d6edff;
}
.diy-pag{
	margin-top: 35px;
	padding-left: 382px;
}
.td-xiaojia{
    display: inline-block; /*让a标签在没有text的情况下背景图片显示*/
    margin-top: 18px;
    width: 22px;
    height: 23px;
    background:url(../img/renWuImg/fangdajing.png) no-repeat;
	cursor: pointer;
}

.xjtext{            /*  销假弹窗*/
	position: absolute; /*mid position为relaive*/
    display: none;
    top:75px;
    width: 1063px;
    height: 310px;
    border:1px solid #d9d9d9;
    background-color: white;
}
.bottom-table{
	font-size: 16px;

}
.td-left {
    padding-left: 25px;
    width: 95px;
    text-align: left;
    height: 70px;
}
.td-right {
    padding-left: 60px;
    width: 400px;
    text-align: left;
}
.tr7{
    display: inline-block;
    padding-top: 17px;
}
.yijian{
    margin-top: 20px;
    width: 600px;
    height: 100px;
}
.buttom{
    display: inline-block;
    margin-top: 55px;
    margin-left: 450px;
    width: 65px;
    height: 35px;
    color: white;
    text-align: center;
    line-height: 35px;
    background-color: #1A95f3;
    border-radius: 2px;
    cursor: pointer;
}
.buttom2{
    display: inline-block;
    margin-top: 55px;
    margin-left: 25px;
    width: 65px;
    height: 35px;
    color: white;
    text-align: center;
    line-height: 35px;
    background-color: #1A95f3;
    border-radius: 2px;
    cursor: pointer;
}
.mid2-bt{
    margin-left: 130px;
    color: white;
    background-color: #1a95f3;
}
.mid3{
    margin-top:5px; 
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #d9d9d9;
}
.mid3-first{
    display: inline-block;
    padding-top: 16px; 
    width: 130px;   
    text-align: center;
    border-bottom: 2px solid #1a95f3;
    color: #1a95f3;
}
.mid3-first a{
    color: #1a95f3;
}
.mid3-right{
    display: inline-block;
    padding-top: 16px; 
    width: 130px;   
    text-align: center; 
}
.mid3-right a{
     color: #1a95f3;
}

.tubiao{
    margin-left: 240px;
    width: 600px;
    height:270px;
}

.tanchuang-wrap{
    display: none;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 1px;
   top: 1px;
   background: #e3e4e2;
   opacity: 0.7;
   z-index: 90;
}
.tanchuang{
    display: none;
    position: absolute;
    left:0px;
    top: 0px;
    margin-left: 47px;
    margin-top: 85px;
    width:978px;
    height: 800px;
    border:1px solid #808080;
    z-index: 130;
    background-color: white;
}
.tc-top{
    height: 42px;
    color: white;
    line-height: 45px;
    padding-left: 10px;
    background-color: #2ba3d7;  
}
.tc-guanbi{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 860px; 
    background: url(../img/paiBanImg/guanbi2.png) no-repeat 1px 1px;
    cursor: pointer;
}

.down-wrap {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    /*width: 1030px;*/
    height: 735px;
    /*border: 1px solid #c1c1c1;*/
    border-radius: 6px;
    background: white;
}
.xinxi02-xianshi{
    margin-left: 30px;
    margin-top: 35px;
    height: 270px;
}
.xinxi02-h{
    height: 55px;  
}
.xinxi02-h span{
    margin-left: 50px;
}
.zhouqi-stop{
    margin-left: 0px !important;
}
.xinxi02-media{
    margin-left: 106px;
    margin-top: 5px;
    padding-left: 70px;
    height: 242px;  
}
/*.xinxi02-wenjian{
    font-size: 21px;
}*/
.rtupian{
    position: relative;
}
.r-tupian{
    position: absolute;
    margin-left: -146px;
    margin-top: 0px;
    margin-right: 112px;
    display: inline-block; 
     padding-top: 0px;
     padding-bottom: 5px;
}
.rImg{
    margin-right: 55px;
    width: 80px;
    height: 90px;
    cursor: pointer;
}
.rImg4{
    position: absolute;
    left: 460px;
    top: -287px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 11;
}
.rImg2-0{ 
    position: absolute;
    left: 169px;
    top: -273px;
    width: 300px;
    height: 499px;
    z-index: 11;
}
.rImg2-1{
    position: absolute;  
    left: 157px;
    top: -273px;
    width: 300px;
    height: 499px; 
    transform: rotate(90deg); 
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    z-index: 11;
}
.rImg2-2{
    position: absolute;  
    left: 172px;
    top: -276px;
    width: 300px;
    height: 499px; 
    transform: rotate(180deg); 
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    z-index: 11;
}
.rImg2-3{
    position: absolute;  
    left: 125px;
    top: -239px;
    width: 300px;
    height: 499px; 
    transform: rotate(270deg); 
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    z-index: 11;
}
.rImg3{
    position: absolute;
    left: -176px;
    top: -314px;
    width: 1032px;
    height: 634px;
    background: black;
    opacity: 0.8;
    z-index: 10;
}
.r-shipin{
    height: 50px;
    color: black;
}
.r-shipin:hover{
    color: #c81623;
}
.rImg5{
    position: absolute;
    left: 312px;
    top: 247px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    z-index: 11;
}
.rot1{
    transform: rotate(90deg); 
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rot2{
    transform:rotate(180deg); 
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rot3{
    transform:rotate(270deg); 
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.biaoti{
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #e6e6e6;
    font-size: 21px;
}
.img-left{
    position: absolute;
    left: -26px;
    top: 27px;
    width: 22px;
    height: 40px;
    background: url(../img/renWuImg/left.png)no-repeat;
    cursor: pointer;
}
.img-right{
    position: absolute;
    left: 650px;
    top: 27px;
    width: 28px;
    height: 51px;
    background: url(../img/renWuImg/right.png) no-repeat;
    cursor: pointer;
}

.table-shipin-top{
    margin-top: 40px;
    margin-left: -30px;
    width: 798px;
    height: 40px;
    border: 1px solid #808080;
    background-color: #e5e5e5;
}
.top-table-th{
    text-align: center;
    font-weight: 400;
}
.table-wrap{
    display: inline-block;
    width: 798px;
    height: 110px;
    overflow-y: scroll;
    margin-left: -30px;
    border-left:1px solid #808080;
    border-right:1px solid #808080;
    border-bottom:1px solid #808080;
}
.table-shipin{

}
.td1{
    width: 197px;
    text-align: center;
    height: 32px;
}
.td2{
    height: 32px;
    width: 197px;
    text-align: center;
}
.anniu-shenhe{
     margin-left: 444px;
}
.tijiao{
    display: inline-block;
    margin-left: 20px;
    margin-top: 55px;
    margin-bottom: 40px;
    width: 50px;
    height: 24px;
    background-color: #1a95f3;
    color: white;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
    cursor: pointer;
}

.yijian{
    margin-left: 30px;
    margin-top: 70px;
}
.yijianword{
    display: inline-block;
}
.yijianinput{
     margin-left: 80px; 
    width: 800px;
    height: 90px;
    vertical-align:top;  
}
.riqi1{
    margin-top: 13px;
    width: 125px;
}